.green {
    color: green;
    background: yellow;
  }
  .red {
    color: red;
    background: black;
  }
  
  span {
    text-transform: uppercase;
  }
  .text {
    background: white;
    color: blue;
  }