#first {
    color: #ff0000;
    background: #000;
  }
  #second {
    color: #fff;
    background: #00ff00;
  }
  #third {
    color: #0000ff;
    background: #f15025;
  }
  #fourth {
    color: #f234ad;
    background: #222;
  }