div {
  width: 200px;
  height: 200px;
  color: white;
  margin: 10px;
  opacity: 0;
}

.animation {
  background: rgb(229, 255, 0);
  animation: move 6s 2;
  animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    opacity: 0.1;
  }
  25% {
    transform: translateX(200px);
    opacity: 0.25;
  }
  50% {
    transform: translateX(-100px);
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    transform: translateX(20px);
    opacity: 1;
  }
}
